* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    text-align: center;
    padding: 30px;
}

dialog {
    align-self: center;
    justify-self: center;
    padding: 15px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.507);
}

#show-modal {
    width: 90px;
    padding: 10px;
    align-self: center;
}

.books-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 300px;

    margin: 10px;

    background-color: rgb(169, 169, 169);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border: 3px solid rgb(113, 113, 113);
}