@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

* {
    padding: 0;
    margin: 0;

    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #D1E2DE;
}

header {
    text-align: center;
    padding: 30px;
    background-color: #438c7c;
    color: white;
    user-select: none;
}

dialog {
    align-self: center;
    justify-self: center;
    padding: 15px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.507);
}

button {
    color: #eebaa1;
    font-weight: 600;
    border-style: none;
}

hr {
    width: 98%;
    margin: 5px 0;
    border: 0.1px solid #4f9c95;
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

#show-modal {
    width: 90px;
    padding: 10px;
    margin-top: 20px;
    align-self: center;
    background-color: #65aca4;
    border-radius: 5px;
    user-select: none;
}

#show-modal:hover {
    transition: .2s;
    transform: scale(1.05, 1.05);
    cursor: pointer;
    box-shadow: 0 1.5px rgba(0, 0, 0, 0.432);
    color: #f7cdba;
}

#form-dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #65aca4;
}

#form-dialog form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#form-dialog form label {
    text-align: left;
    color: white;
}

#form-dialog form input {
    background-color: #47837d;
    border: 1.5px solid #2a615b;
    color: white;
}

#form-dialog form input:focus {
    outline: none;
    border: 2px solid #183834;
}

#form-dialog h1 {
    text-align: center;
    color: white;
}


.books-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 300px;
    margin: 10px;
    background-color: #438c7c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #59a79f;
}

.dialog-buttons-container button {
    padding: 4px 15px;
    margin: 0 10px;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
}

.dialog-buttons-container button:hover {
    transition: .2s;
    transform: scale(1.2, 1.2);
}